html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #161616;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.toggle {
    display: none;
}

.container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.menu {
    display: flex;
}

.nav__link {
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}

.nav__link:hover,
.nav__link.active {
    background-color: #292929;
    color: #ffffff !important;
    font-weight: 700;
    transition: all ease 0.4s;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #292929;
}

.main {
    background-color: #edf1fd;
    height: 100vh;
}

.main__content {
    text-align: center;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.main__content-title {
    color: #292929;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.main__content-subtitle {
    margin: 0;
    font-size: 40px;
    letter-spacing: 3px;
    color: #292929;
}

.main__content-text {
    margin: 0;
    color: #6c707c;
    font-size: 30px;
}

.skills__title {
    margin: 0;
    margin-top: 10px;
    font-size: 30px;
    letter-spacing: 3px;
    color: #292929;
    text-transform: uppercase;
}

.skills {
    margin: 0;
    color: #6c707c;
    text-transform: uppercase;
}

.social {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.social__link {
    margin-right: 10px;
    transition: transform 0.2s linear;   
}

.social__link:hover {
    transform: translateY(-5px);
}

.about {
    height: 100vh;
    padding: 50px 5% 0 5%;
}

.about__content {
    width: 50%;
}

.about__title {
    margin: 0;
    font-size: 5rem;
    color: #17d1ac;
}

.about__subtitle {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.about__text {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.90);
    margin: 0;
}

.portfolio {
    flex-direction: column;
    padding: 60px 2% 20px 2%;;
}

.portfolio__title {
    font-size: 1.7rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #292929;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.portfolio__container {
    width: 90%;
    height: 70vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.portfolio__item {
    background-color: #1f1f1f;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.3);
    position: relative;
}

.portfolio__item:hover .text-overlay {
    display: flex;
}

.text-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(23, 209, 172, 0.89);
    display: none;
}

.text-overlay h1, p {
    color: #ffffff;
}

.text-overlay h1 {
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

.text-overlay p {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.portfolio__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact__btn {  
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background-color: #f4f7ff;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.4);
}

.contact__btn h1{
    font-size: 2rem;
    color: #1e1e1e;
    margin: 10px;
    padding: 5px;
    letter-spacing: 4px;
    border-bottom: 2px solid #1e1e1e;
}

.contact__btn a {
    color: #ffffff;
    font-size: 1rem;
    width: 150px;
    height: 40px;
    margin: 10px;
    background-color: #1e1e1e;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__btn a:hover {
    background-color: #17d1ac;
    color: #000000;
    transition: all ease 0.5s;
    font-weight: 700;
}

.contact {
    height: 90vh;
    justify-content: center; 
}

.contact form {
    display: flex;
    width: 70%;
    height: 60vh;
    background-color: #1e1e1e;
    box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.01);
}

.contact-left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-right {
    width: 60%;
    height: 100%;
    box-shadow: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(255, 255, 255, 0.08);
}

.contact__title {
    color: #ffffff;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 400;
}

.input {
    display: flex;
    flex-direction: column;
}

.input font {
    color: #bfbfbf;
    font-size: 22px;
}

.input input {
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #929292;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px; 
} 

.input input::placeholder {
    opacity: 0.5;
    letter-spacing: 1px;
}

.input input:focus {
    border-bottom: 1px solid #17d1ac;
    transition: all ease 0.5s;
}

.message {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.message font {
    font-size: 18px;
    color: #bfbfbf;
}

.contact-right textarea {
    width: 100% !important;
    height: 320px !important;
    border: none;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    color: #ebebeb;
    font-size: 16px;
}

.contact-right textarea::placeholder {
    color: #ebebeb;
    font-size: 18px;
    letter-spacing: 2px;
}

.contact-right button {
    width: 100%;
    height: 50px;
    background-color: #1ed98b;
    font-weight: 700;
    outline: none;
    border: none;
    margin: 0;
    color: #1b1b1b;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact-right button:focus {
    background-color: #17d1ac;
}

@media(max-width: 1440px) {
    .about__photo img {
        height: 400px;
    }

    .contact form {
        width: 95% !important;
    }

    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        height: auto;
        grid-gap: 10px;
    }
}

@media(max-width: 970px) {
    .about {
        justify-content: center;
        padding-top: 0;
    }

    .about__photo {
        display: none;
    }

    .about__content {
        width: 90%;
    }

    .about__title {
        font-size: 4rem;
    }

    .portfolio__container {
        width: 100%;
    }
}

@media(max-width: 900px) {
    .toggle {
        display: block;
    }

    .toggle:before {
        content:'\f0c9';
        font-family: fontAwesome;
        line-height: 0;
    }

    .toggle.active:before {
        content: '\f00d';
    }

    nav {
        padding: 10px 30px;
    }
    
    nav ul {
        position: absolute;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        background-color: #0f0f0f;
        top: 50px;
        left: 0;
        transition: 0.5s;
        overflow: hidden;
        border: 3px solid #1f1f1f;
        display: none !important; 
        margin: 0;
        padding: 0;
    }

    nav ul li a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 !important;
        padding: 0 !important;
    }

    .active-menu {
        display: block !important; 
    }

    .contact__btn h1  {
        font-size: 1.4rem;
        text-align: center;
    }

    .contact {
        padding: 20px;
        height: auto;
        box-sizing: border-box;
    }

    .contact form {
        flex-direction: column;
        height: auto;
        padding: 20px;
        width: 90% !important;
    }

    .contact-left,
    .contact-right {
        width: 100%;
        border: none;
    }

    .input {
        width: 100%;
    }

    .input input {
        width: 100%;
        border: none;
        background-color: #262626 !important;
        padding: 10px;
        box-sizing: border-box;
        height: 40px;
    }

    textarea {
        background-color: #262626 !important;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        height: 200px !important;
        width: 100% !important;
    }

    .message {
        margin: 0;
    }

    .contact__title {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media(max-width: 600px) {
    .main__content {
        width: 320px;
    }

    .main__content-title {
        font-size: 40px;  
    }
    
    .main__content-subtitle {
        font-size: 20px; 
    }
    
    .main__content-text {
        font-size: 15px;
    }

    .skills__title {
        margin-top: 5px;
        font-size: 25px;
    }
    
    .about__content {
        text-align: center;
    }

    .about__title {
        font-size: 2.5rem;
    }

    .about__subtitle {
        font-size: 1.5rem;
    }

    .about__text {
        font-size: 1rem;
        margin-top: 5px;
    }

    .portfolio {
        padding: 40px 2% 20px 2%;
    }

    .portfolio__container {
        grid-template-columns: 1fr;
    }

    .contact__btn h1 {
        font-size: 1.2rem;
        margin-right: 10%;
        margin-left: 10%;
    }

    .name {
        width: 60%;
    }
}